<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Daily To-Do Journal</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main>
  
    <%- body %>

    <footer>
      <h4>Design & Build by Jacob Lin ⭐️2020</h4>
    </footer>
  </main>
</body>
</html>
