
  <section id="quotes">
    <h2 id="motivation">"Success is walking from failure to failure with no loss of enthusiasm." <br />--Winston Churchill</h2>
  </section>

  <section id="todo">
    <h1 class="box" id="heading">Today's List</h1>
    <div class="box">

    <% listsName.forEach(e => { %>
      <div class="item">
        <p><%= e.name %></p>
      </div>
    <% }) %>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New List" autocomplete="off" />
        <!-- <button type="submit" name="list" value="">+</button> -->
      </form>
    </div>
  </section>
