<section id="hero">

  <blockquote>
    <p><%= randomQuote.quote %></p>
    <cite>-- <%= randomQuote.movie + " (" + randomQuote.year + ")" %></cite>
  </blockquote>

</section>

<section id="todo">

  <h2><%= today %></h2>

  <section class="box">

    <form action="/" method="GET">
      <input type="text" name="list" value="" placeholder="Create New List"/>
      <button><i class="fas fa-plus"></i></button>
    </form>
  </section>
</section>
